* {
    margin: 0;
    padding: 0;
}

body{
    color:teal;
    background-image: url(../Matthew-Bianco-Resume/Assets/images/headerphoto.jpg)
}

header {
    display: flex;
    flex-direction:column;
    background-color: seashell;
}

header h1 {
    color:red;
    padding: 30px;
}

header h2{
    color:red;
    padding: 30px;
}
header img{
    display:flex;
    width: 200px;
    padding: 15px;
}

nav ul {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  
nav a {
    font-size: 30px;
    text-decoration: none;
    color: red;
    padding: 0 20px;
}