* {
    margin: 0;
    padding: 0;
}
/* semantic html elements */

body{
    color:teal;
    /* background-image: url(../Matthew-Bianco-Resume/Assets/images/photos/backgroundart.png) */
}
/* Header section start */
header {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    background-color: seashell;
}

header h1 {
    color:red;
    padding: 30px;
}

header h2{
    color:red;
    padding: 30px;
}

header p {
    font-size:40px;
    padding: 30px;
}

header img{
    display:flex;
    width: 200px;
    padding: 15px;
}
/* Header section end */

/* "projects" title word */
h2 {
    display: flex;
    justify-content: center;
    margin:20px;
}



/* contact section */
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    color: whitesmoke;
    background-color:thistle;
    border: 20px, 30px
}

a:link {
    color:white;
}

a:visited{
    color:white;
}
.contact-info h3 {
    padding: 30px, 20px;
}
/* contact section end */

/* projects styling start */

.projects {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;

}

.projects img {
    padding: 20px;
    transition: transform .3s;
    height: 600px;
    width: 480px;
    margin: 10px;
}

.projects img:hover {
    transform: scale(1.1);
}
 footer {
     background-color: thistle;
 }

/* projects styling end */
nav ul {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  
nav a {
    font-size: 40px;
    text-decoration: none;
    color: red;
    padding: 0 20px;
}
/* section for tablet/cellphone screen sizing.  */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
   
header {
        display:flex;
        flex-direction: column;
        align-items:center;
    }

.projects {

    flex-direction: column;
    align-items: center;
}

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

header {
        display:flex;
        flex-direction: column;
        align-items:center;
    }

#webdeveloper {
    padding: 0;
}

.projects {

    flex-direction: column;
    align-items: center;
}

     
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

    header {
        display:flex;
        flex-direction: column;
        align-items:center;
    }

#webdeveloper {
    padding: 0;
}

.projects {

    flex-direction: column;
    align-items: center;
}
